[submodule "clob-client"]
	path = clob-client
	url = https://github.com/Polymarket/clob-client.git
[submodule "agents"]
	path = agents
	url = https://github.com/Polymarket/agents.git
[submodule "polymarket-examples"]
	path = polymarket-examples
	url = https://github.com/Polymarket/examples.git
[submodule "polymarket-realtime"]
	path = polymarket-realtime
	url = https://github.com/Polymarket/real-time-data-client.git
[submodule "polymarket-ctf-exchange"]
	path = polymarket-ctf-exchange
	url = https://github.com/Polymarket/ctf-exchange.git
[submodule "polymarket-neg-risk-adapter"]
	path = polymarket-neg-risk-adapter
	url = https://github.com/Polymarket/neg-risk-ctf-adapter.git
[submodule "polymarket-uma-adapter"]
	path = polymarket-uma-adapter
	url = https://github.com/Polymarket/uma-ctf-adapter.git
[submodule "perpetual-trading"]
	path = perpetual-trading
	url = https://github.com/gautamtayal1/perpetual-trading.git
